
body{
    background-color: black;
    color: white;
    
}
header{
    margin:0;
    padding:0;
    
}

h1{
    width: 100%;
   
    
}

li{
    display: inline;
    padding: 20px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    
    text-decoration: underline;

}