
body{
    background-color: rgb(61, 47, 47);
    color: white;
    width: 100%;
    margin: auto;
   
   
}

.grid-container{
    display: grid;
    grid-template-columns:45%  45%;
    grid-template-rows:15% 10%  5% 60%  ;
    width: 1000px;
    height: 800%;
    
    margin:auto;
    justify-content:center;
    
    
    
  
}

.headere{

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:1 ;
    grid-row-end: 2;
    width:100%;
    height: auto;
    
}






h1{
    font-weight:bolder;
    font-size:100px;
   
    
}
.heading2{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:2 ;
    grid-row-end: 3;
    width:100%;
    height: auto;

}

.navbar{
    grid-column-start: 1;
    grid-column-end:3;
    grid-row-start: 3;
    grid-row-end:4 ;
    width:100%;
    height: auto;
}
  
li{
    display: inline;
    padding: 7px;
    
    font-size: 20px;
    
    
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    
    text-decoration: underline;

}

.text-container{
    width:100%;
    height: auto;
    
    justify-content: center;
    grid-column-start: 3;
    grid-column-end:4;
    grid-row-start: 4;
    grid-row-end: 5;
    
}


.parts{
    display: none;
    
}
.parts:target{
    display: block;
     
   
   
}

.grid-image{
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
    justify-content: center;
    padding: 2%;
   
    
}

img{
    width: 70%;
    height:70%;
    border-radius: 20%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    
}

.email{
    color: white;
}

.email:hover{
    text-decoration: underline;
}
p{
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 10px;
    text-align: justify;
   
    margin: 0 auto;
    width: 80%;
}
.email-link{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 1.5em;
    
    width: 80%;
}
.certificates-list{
    display: block;
    padding-left: 50px;
    
    
}
.certificates{
    list-style-type: circle;
    color:white;
}
    


@media screen  and (max-width:540px){

    body{
        background-color: rgb(61, 47, 47);
        color: white;
        width: 100%;
        margin: auto;
       
       
    }
   
    
    .grid-container{
        display: grid;
        grid-template-columns:80%;
        grid-template-rows:15% 5% 5% 34% 36% ;
        width: 500px;
        height: 600px;
        padding-bottom: 2%;
        margin:auto;
        justify-content:center;
        
        
        
      
    }
    .first-container{
        color: white;

    }

    .headere{

        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start:1 ;
        grid-row-end: 2;
        width:100%;
        height: auto;
        
        
    }

    h1{
        font-weight:bolder;
        font-size:50px;
    }

    .heading2{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start:2 ;
        grid-row-end: 3;
        width:100%;
        height: auto;
    
    }

    h2{
        font-size: medium;
    }

    h3{
        font-size: medium;

    }

    li{
        display: inline;
        padding: 3px;
        
        font-size: 15px;
        
        
    }

   
    .navbar{
        grid-column-start: 1;
        grid-column-end:2;
        grid-row-start: 3;
        grid-row-end:4 ;
        width:100%;
        height: auto;
    
    }

    .grid-image{
        grid-column-start: 1;
        grid-column-end:2;
        grid-row-start: 4;
        grid-row-end:5;
       
        
        
        
    }
   
    img{
        
        border-radius: 20%;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        width: 65%;
        height: 65%;
        margin-right: 10px;
    }
    
    .text-container{
        width:100%;
        height: 100%;
        margin: 2%;
        justify-content: center;
        grid-column-start: 1;
        grid-column-end:2;
        grid-row-start: 6;
        grid-row-end: 7;
        
    }

    p{
        font-size: 1em;
        line-height: 1.5em;
        padding: 5px;
        text-align: justify;
              
        margin: 0 auto;
        width: 80%;
    }
    
    .email-link{
        color: white;
        text-decoration: none;
        font-size:12px;
        
        
       
    }
    
    
}